<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Scribo</title>
    <meta charset="UTF-8"> <meta name=viewport content="width=device-width, initial-scale=1">
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <%= render 'layouts/navbar' %>

  <div class="container">
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: [:alert, alert_for(name)] %>
  <% end %>
</div>

    <%= yield %>

  </body>
</html>
